body {
  background-color: #ff8080;
  font-family: Arial;
  color: #000000;
  text-align: center;
}

.halaman
.kartu-profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #aaff00;
  border-radius: 15px;
  box-shadow: 0 40px 8px rgba(0,0,0,1);
  text-align: center;
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%;
}

.kartu-kartu {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #aaff00;
  border-radius: 15px;
  box-shadow: 0 40px 8px rgba(0,0,0,1);
  text-align: center;
}

.kartu-kartu img {
  width: 150px;
  border-radius: 50%;
}
